<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First test Suite">
  <test thread-count="5" name="Regression">
    <classes>
      <class name="ChromaCampus.ProjectSeleniumDemo.Sampledemo2"/>
      <class name="ChromaCampus.ProjectSeleniumDemo.SampleDemo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
